/*
 * New Clothe CMS
 * Ver 0.1
 * Copyright http://m3-jp.com/
 */

@charset "UTF-8";

.__nc-modal_overlay{
  background: rgba(89,88,87,.6);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9998;
  width: 100%;
  height: 100%;
}
.__nc-modal{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  min-width: 50%;
  max-width: 80%;
  background: #fffffc;
  opacity: 0;
  box-shadow: 0 0 5px 5px rgba(120,120,120,.8);
  padding: 10px;
  color: #333;
}
.__nc-modal-header{
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.__nc-modal-body{
  width: 100%;
  padding: 10px 0;
}
.__nc-modal-close{
  border: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: transparent;
  text-align: center;
  background: #eee;
  cursor: pointer;
}
.__nc-modal-close:hover{
  opacity: .5;
}
body.noscroll{
  overflow-x: hidden;
  overflow-y: hidden;
}
.__nc-modal-body.__nc-login-form{
  width: 80%;
  margin: 20px auto;
}
.input-text{
  padding: 3px;
  box-sizing: border-box;
}
.__nc-error{
  padding: 10px;
  background: #f60;
  color: #fff;
}
.__nc-navigation{
  position: fixed;
  z-index: 9995;
  width: 100%;
  background: rgba(51,51,51,.7);
  height: 50px;
  color: #fff;
  font-size: small;
  top: 0;
}
.__nc-navigation>.dtbc{
  padding: 0 10px;
}
.__nc-form{
  border:1px solid #f60;
  cursor: pointer;
  margin: -1px;
}
.__nc-form-text,
.__nc-form-textarea{
  min-height: 10px;
}
.__nc-navigation>.dtbc>.ul>li{
  font-size: small;
  margin-left: 20px;
  cursor: pointer;
}
.__nc-navigation>.dtbc>.ul>li:hover{
  text-decoration: underline;
}
